<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinTechno</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body style="background-color: #e2d83b;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center jumbotron" style="background-color: white;">
                <h1>FinTechno</h1><br />
                <img style="max-width: 100%; height: 40px;" src="{% static "fintek/bitup.jpeg" %}" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                {% block content %}
                <p>All your bank transactions in one place.</p>
                <p><a class="btn btn-primary" href="{% url 'login' %}">Login</a></p>
                <p>Dont have an account? <a href="{% url 'register' %}">Register</a></p>
                {% endblock %}
            </div>
            <div class="col-6">
                <img style="max-width: 100%; height: 400px;" src="{% static "fintek/laptop_pixabay.jpg" %}" alt="">
            </div>
        </div>
    </div>
</body>

<!-- 
    For our developers: aHR0cHM6Ly9iaXQubHkvM2l0MkZQNg==
-->

</html>