{% extends 'base.html' %}

{% block content %}
<h3>Welcome {{ request.user }}</h3>
<a href="{% url 'logout' %}">Logout</a>

<strong>Associated banks</strong>
{% for token in tokens %}
<ul>
    <li>
        {{ token.bank.name }}
    </li>
</ul>
{% empty %}
<strong>You dont have any bank associated yet</strong>.

<p>Currently we only support HappyBank customers.
    If you are a Happy Bank customer click on the following button.</p>
<a href="{{ connect_url }}" class="btn btn-success">Connect with HappyBank</a>

{% endfor %}
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

{% if transactions %}
<h3>Transactions</h3>
<table>
    <tr>
        <th>From user</th>
        <th>To user</th>
        <th>Description</th>
        <th>Amount</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.from_user }}</td>
        <td>{{ transaction.to_user }}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.ammount }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}


{% endblock %}