<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Curvas Peligrosas</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="card col-md-3 ">
                <div class="card-body">
                    <h5 class="card-title">Has iniciado sesion como <b>{{username}}</b>.</h5>
                    {% if username == 'admin' %}
                    <p class="card-text">Enhorabuena aqui esta tu bandera!</p>
                    <div class="alert alert-success" role="alert">
                        {{flag}}
                    </div>
                    {% else %}
                    <div class="alert alert-danger" role="alert">
                        Solo el admin puede ver la bandera.
                    </div>
                    {% endif %}
                </div>
                <a class="btn btn-outline-primary" href="/logout">Cerrar sesion</a>
            </div>
        </div>
    </div>
</body>

</html>