<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Curvas Peligrosas</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="card col-md-3 ">
                <div class="card-body">
                    <h5 class="card-title">Elige tu nombre de usuario</h5>
                    <form action="/login" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Usuario" aria-label="Username"
                                aria-describedby="button-addon" name="username">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit" id="button-addon">Iniciar sesion</button>
                            </div>
                        </div>
                    </form>
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>