{% extends 'base.html' %}

{% block content %}
<h1>We are currently working on this site</h1>
<p>Site maintenance. Sorry for the incovenient.</p>
<p>You can continue using your bank account through Fintechno</p>
{% endblock %}